{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Aplicación Django</h1>
        <p>Esta aplicación permite administrar cargos y empleados mediante un CRUD completo,
        implementado tanto con vistas basadas en funciones (VBF) como con vistas basadas en clases (VBC).
        Inicia sesión o regístrate para comenzar a gestionar la información de tu organización de forma
        simple y ordenada.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
               iniciar sesión
            </a>
            <a class="btn btn-dark" href="/signup/">
                registrarse
            </a>
        </div>
    </section>
</main>

{% endblock %}