{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione harum minus maiores, 
        nesciunt asperiores mollitia neque? Harum, tenetur porro? Delectus alias accusantium, 
        voluptate aut distinctio esse provident animi placeat eaque repellat atque dignissimos error magni, 
        numquam corporis possimus velit, qui architecto. Architecto vero, possimus explicabo reprehenderit 
        repellendus amet rem corrupti vitae voluptatem repudiandae, sunt voluptatum ut odit perferendis delectus 
        deserunt enim? Aspernatur officia labore veritatis vitae ex totam amet atque obcaecati qui, placeat similique!
        Odio porro aliquid velit quis dolorum corporis consectetur? Fugiat, excepturi natus libero eveniet dolorum 
        asperiores, laudantium ab vel iure quos optio ullam perferendis cupiditate suscipit magnam!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
               signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                signup
            </a>
        </div>
    </section>
</main>

{% endblock %}